
/* reset */
* {
    margin: 0 auto;
    padding: 0;
    list-style: none;
    color: #222328;
    font-family: "맑은 고딕", sans-serif;
}
a {
    text-decoration: none;
}

/* common */
body {
    width: 1000px;
    background: #fff;
    font-size: 20px;
}
.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

/* header 영역 */
header {
    float: left;
}

header .top {
    height: 650px;
    width: 200px;
}
header .top .logo {
    width: 100%;
    height: 40px;
    margin: 30px 0;
}
header .top .menu {
    width: 95%;
    text-align: center;
}
header .top .menu .navi li {
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 700;
    background: #222328;
}
header .top .menu .navi li a {
    color: #fff;
    display: block;
    width: 100%;
    padding: 10px 0;
}
header .top .menu .navi li a:hover {
    background: #930930;
    color: #ff0;
}

/* 이미지 슬라이드 영역 */
.imgslide {
    float: right;
    width: 800px;
    height: 350px;
    position: relative;
}
.imgslide .imgtext {
    display: block;
    width: 300px;
    height: 50px;
    text-align: center;
    color: #fff;
    font-weight: 700;
    line-height: 50px;
    background: rgba(40,40,40,0.3);

    /* x, y 중앙 정렬 공식 */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
} 
/* 메인 컨텐츠 영역 */
.contents {
    float: right;
    width: 800px;
    margin-top: 10px;
}
/* 메인 - 공지사항 */
.contents .notice {
    float: left;
    width: 38%;
    margin-right: 1%;
    position: relative;
}
.contents h2 {
    width: 80px;
    height: 30px;
    font-size: 14px;
    color: #fff;
    font-weight: 700;
    background: #000;
    text-align: center;
    line-height: 30px;

    position: absolute;
    left: 0;
    top: 0;
}
.contents .notice ul {
    margin-top: 30px;
    font-size: 14px;
    border-top: 1px solid #ccc;
}
.contents .notice ul li {
    padding: 8px 0;
}
.contents .notice ul li:nth-child(even) {
    background: #ccc;
}
.contents .notice ul li:hover a {
    font-weight: 700;
}
.contents .notice ul li span {
    float: right;
}
/* 메인 - 갤러리 */
.contents .gallery {
    float: left;
    width: 38%;
    margin-right: 3%;
    position: relative;
}
.contents .gallery ul {
    margin-top: 30px;
    border-top: 1px solid #ccc;
    padding: 15px 8px; 
}
.contents .gallery ul li {
    float: left;
    width: 30%;
    height: 90px;
    overflow: hidden;
    margin-right: 5%;
}
.contents .gallery ul li:hover {
    opacity: 0.5;
}
.contents .gallery ul li:last-child {
    margin-right: 0;
}
.contents .gallery ul li img {
    width: 100%;
}

/* 메인 - 바로가기 */
.contents .shortcut {
    float: left;
    width: 20%;
    position: relative;
}
.contents .shortcut img {
    width: 100%;
}
.contents .shortcut .sctext {
    width: 100px;
    height: 30px;
    color: #fff;
    font-weight: 700;
    text-align: center;
    line-height: 30px;
    background: rgba(40,40,40, 0.3);
    padding: 5px 10px;
    
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* 하단 푸터 영역 */
footer {
    background: #aaa;
    float: right;
    width: 800px;
    margin-top: 10px;
    padding: 10px 0;
    position: relative;
}
footer .copy {
    float: left;
    width: 80%;
    text-align: center;
    font-size: 15px;

    position: absolute;
    left: 0%;
    top: 50%;
    transform: translate(0, -50%);
}
footer .site {
    float: right;
    width: 20%;
    padding: 0  10px;
}
footer .site .sns ul li {
    float: left;
    width: 28%;
    margin-right: 4%;
}
footer .site .sns ul li:first-child {
    margin-left: 4%;
}
footer .site .sns ul li img {
    width: 100%;
}
footer .site .sns ul li:hover {
    opacity: 0.5;
}
footer .site .familysite {
    margin-top: 5px;
}
footer .site .familysite select {
    width: 100%;
    height: 30px;
}