
/* reset */
* {
    margin: 0 auto;
    padding: 0;
    list-style: none;
    color: #222328;
    font-family: "맑은 고딕", sans-serif;
}
a {
    text-decoration: none;
}

/* common */
body {
    width: 1000px;
    background: #fff;
    font-size: 20px;
}
.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

/* header 영역 */
header {
    float: left;
}

header .top {
    height: 650px;
    width: 200px;
}
header .top .logo {
    width: 100%;
    height: 40px;
    margin: 30px 0;
}
header .top .menu {
    width: 95%;
    text-align: center;
}
header .top .menu .navi li {
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 700;
    background: #222328;
}
header .top .menu .navi li a {
    color: #fff;
    display: block;
    width: 100%;
    padding: 10px 0;
}
header .top .menu .navi li a:hover {
    background: #930930;
    color: #ff0;
}

/* 이미지 슬라이드 영역 */
.imgslide {
    float: right;
    width: 800px;
    height: 350px;
    position: relative;
}
.imgslide .imgtext {
    display: block;
    width: 300px;
    height: 50px;
    text-align: center;
    color: #fff;
    font-weight: 700;
    line-height: 50px;
    background: rgba(40,40,40,0.3);

    /* x, y 중앙 정렬 공식 */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
} 